<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MiniMony {% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    {% block css %} {% endblock %}
  </head>
  <body>

    <nav class="navbar">
      <div class="logo">
        <h1 class="logo">MiniMony</h1>
      </div>
      <div class="nav-buttons">
        <button class="nav-btn">Home</button>
        <button class="nav-btn">About</button>
        <button class="nav-btn">Search</button>
        <button class="nav-btn">Contact</button>
      </div>
    </nav>

    {% block content %}

    {% endblock %}

    <div class="supportCircle">
      
    </div>

  </body>
</html>
